@import url(https://fonts.googleapis.com/css?family=Poppins);

/* === Variables === */

:root {
    /* --primary-color: 255,153,51; */
    --primary-color: 255,131,31;
    --secondary-color: #ffcc44;
    --pattern-bkg-color: 223,127,31;
    --pattern-color-hex: #ff9911;
    --pattern-color-hex-alpha: #ff661177;
}

/* === Global style settings === */

body {
    font-family: 'Poppins', sans-serif !important;
}

h1, h2, h3, h4, h5, h6 {
    font-weight: 800 !important;
}

h1, h2, h3 {
    line-height: 3rem !important;
}

/* === Custom classes === */

.headerBanner {
    opacity: 1;
    background-color: rgb(var(--primary-color));
    background-image:  linear-gradient(30deg, #ff6611 12%, transparent 12.5%, transparent 87%, var(--pattern-color-hex) 87.5%, var(--pattern-color-hex)), linear-gradient(150deg, var(--pattern-color-hex) 12%, transparent 12.5%, transparent 87%, var(--pattern-color-hex) 87.5%, var(--pattern-color-hex)), linear-gradient(30deg, var(--pattern-color-hex) 12%, transparent 12.5%, transparent 87%, var(--pattern-color-hex) 87.5%, var(--pattern-color-hex)), linear-gradient(150deg, var(--pattern-color-hex) 12%, transparent 12.5%, transparent 87%, var(--pattern-color-hex) 87.5%, var(--pattern-color-hex)), linear-gradient(60deg, var(--pattern-color-hex-alpha) 25%, transparent 25.5%, transparent 75%, var(--pattern-color-hex-alpha) 75%, var(--pattern-color-hex-alpha)), linear-gradient(60deg, var(--pattern-color-hex-alpha) 25%, transparent 25.5%, transparent 75%, var(--pattern-color-hex-alpha) 75%, var(--pattern-color-hex-alpha));
    background-position: 0 0, 0 0, 40px 70px, 40px 70px, 0 0, 40px 70px;
    background-size: 80px 160px;
    background-blend-mode: overlay;
    animation-name: header-background-scroll;
    animation-duration: 12s;
    animation-iteration-count: infinite;
    animation-timing-function: linear;
    backdrop-filter: blur(5px);
}

@keyframes header-background-scroll {
    0% { background-position: top left 0%;}
    100% { background-position: top left 50.5%;}
}


.titleName {
    display: block;
    margin: auto;
    height: 160px;
    min-height: 100px;
    max-height: 200px; 
    text-align: center;
    align-content: center;
}

.titleNameHelper {
    margin: auto;
}

.blackCatLogo {
    text-align: center;
    align-content: center;   
}

.langMenu {
    padding: 2px;
}

.p_aboutMe {
    margin: 0rem 2rem;
}

.languagesContainer {
    padding: 10px;
    background-image: url("../img/background_continents-orange.png");
    background-size: cover;
    background-position: center;
    width: 100%;
}

.languagesUl {
    list-style: none;
    line-height: 2rem;
}

.li-nav {
    list-style-type: none;
    padding: 10px;
}

.skillsContainer {
    background-image: linear-gradient(180deg,rgba(var(--primary-color),0.25),rgba(255,255,255,0),rgba(var(--primary-color),0.25));
    padding: 25px 0px;
}

.imgRow {
    display: flex;
    background-color: rgba(0,0,0,0.05);
}

.imgColumn {
    flex: auto;
    padding: 5px;
}

.imgColumn img {
    margin: 10px;
}

.cardColumn {
    flex: auto;
    padding: 5px;
}

.cardColumn .card {
    width: auto;
    margin: 32px;
}

.customFooter {
    /* background-color: rgb(var(--primary-color)); */
    background-image: linear-gradient(122deg, #A32, rgb(var(--primary-color)), var(--secondary-color));
    height: 6em;
    width: 100%;
    padding: 16px;
    text-align: center;
    position: sticky;
    bottom: 0;
}