@import url(https://fonts.googleapis.com/css?family=Poppins);

/* === Variables === */

:root {
    /* --primary-color: 255,153,51; */
    --primary-color: 51,153,255;
}

/* === Global style settings === */

body {
    font-family: 'Poppins', sans-serif !important;
}

h1, h2, h3, h4, h5, h6 {
    font-weight: 800 !important;
}

h1, h2, h3 {
    line-height: 3rem !important;
}

/* === Custom classes === */

.headerBanner {
    
    opacity: 1;
    background-color: rgb(var(--primary-color));
    background-image:  linear-gradient(30deg, #3399ff 12%, transparent 12.5%, transparent 87%, #3399ff 87.5%, #3399ff), linear-gradient(150deg, #3399ff 12%, transparent 12.5%, transparent 87%, #3399ff 87.5%, #3399ff), linear-gradient(30deg, #3399ff 12%, transparent 12.5%, transparent 87%, #3399ff 87.5%, #3399ff), linear-gradient(150deg, #3399ff 12%, transparent 12.5%, transparent 87%, #3399ff 87.5%, #3399ff), linear-gradient(60deg, #3399ff77 25%, transparent 25.5%, transparent 75%, #3399ff77 75%, #3399ff77), linear-gradient(60deg, #3399ff77 25%, transparent 25.5%, transparent 75%, #3399ff77 75%, #3399ff77);
    background-size: 80px 140px;
    background-position: 0 0, 0 0, 40px 70px, 40px 70px, 0 0, 40px 70px;
    background-blend-mode: overlay;

    display: grid;
    grid-template-columns: 0.27fr 1fr 0.27fr;
    grid-template-rows: 0.25fr 0.75fr;
    gap: 0px 0px;
    grid-auto-flow: row;
}


.mainContent {
    align-content: center;
    align-items: center;
    text-align: center;
    padding: 24px 0px;
}


.titleName {
    display: block;
    margin: auto;
    height: 200px;
    min-height: 100px;
    max-height: 200px; 
    text-align: center;
    align-content: center;
    grid-area: 2 / 2 / 2 / 3;
}

.titleNameHelper {
    margin: auto;
}

.blackCatLogo {
    text-align: center;
    align-content: center;
    grid-area: 2 / 3 / 2 / 3;
}

.langMenu {
    grid-area: 1 / 1 / 4 / 2;
    padding: 2px;
}

.p_aboutMe {
    margin: 0rem 2rem;
}

.languagesContainer {
    padding: 10px;
    background-image: url("../img/background_continents-orange.png");
    background-size: cover;
    background-position: center;
}

.languagesUl {
    list-style: none;
    line-height: 2rem;
}

.li-nav {
    list-style-type: none;
    padding: 10px 10px;
}

.skillsContainer {
    background-image: linear-gradient(180deg,rgba(var(--primary-color),0.25),rgba(255,255,255,0),rgba(var(--primary-color),0.25));
    padding: 25px 0px;
}

.imgRow {
    display: flex;
    background-color: rgba(0,0,0,0.05);
}

.imgColumn {
    flex: auto;
    padding: 5px;
}

.imgColumn img {
    margin: 10px;
}

.cardColumn {
    flex: auto;
    padding: 5px;
}

.cardColumn .card {
    width: auto;
    margin: 32px;
}

.customFooter {
    background-color: rgb(var(--primary-color));
    width: 100%;
    padding: 16px;
    text-align: center;
    position: relative;
    bottom: 0;
}